extends ../layout

block content
	form#join-form(action='/auth' method='post')
		p
			label(for='email') email
			input#email(type='email' name='email' required )
		p
			label(for='name') name
			input#name(type='text' name='name' required )
		p
			label(for='password') password
			input#password(type='password' name='password' required )
		
		if joinError
			p
				.error-message= joinError
		
		p
			button(type='submit') 회원가입
			a(href='/'): button(type = 'button') 취소
