extends ../layout

block content

	form(action='/posts' method='post' )
		p
			label(for='title') title
			input#label(type='text' name='title')
		p
			label(for='content') content
			textarea#content(name='content')
		input(type='submit' value='작성')
