extends ../layout

block content
    table
        tr
            th 닉네임
            th 제목
            th 날짜

        each post in posts
            tr
                td= post.user.name
                td
                    a(href='/posts/'+post.id) #{post.title}
                td= post.date

    a(href='/posts/create'): button(type='button') 새 글
