extends ../layout

block content
    table
        tr
            th name
            th title
            th date

        each post in posts
            tr
                td= post.user.name
                td
                    a(href='/posts/'+post.id) #{post.title}
                td= post.date

    a(href='/posts/create'): button(type='button') create
