extends ../layout

block content
    table
        tr
            th 닉네임
            th 제목
            th 날짜
            th 해쉬태그
            th 조회수

        each post in posts
            tr
                td: a(href='/users/' + post.user.nick) #{post.user.nick} 
                td: a(href='/posts/'+post.id) #{post.title}
                td= post.date
                td 어떠케 해쉬태그 하지 hashtags
                td= post.views

    a(href='/posts/create'): button(type='button') 새 글
