a(href='/'): button(type='button') home
a(href='/posts'): button(type='button') posts
a(href='/users'): button(type='button') users
a(href='/auth/join'): button(type='button') join

if user && user.id
    a(href='/auth/logout'): button(type='button') logout
else
    a(href='/auth/login'): button(type='button') login


if user && user.id
    h2= user.id
    h2= user.name