extends ../layout

block content
    include sidenav
    table
        tr
            th 날짜
            th 내용

        each comment in comments
            tr
                td= comment.date
                td
                    a(href='/posts/'+comment.postId) #{comment.content}
                td 
                    form(action='/comments/'+comment.id method='post')
                        input(type='hidden' name='_method' value='delete')
                        input(type='hidden' name='userId' value=user.id)
                        input(type='submit' value='삭제')

