extends ../layout

block content
    include sidenav
    table
        tr
            th 날짜
            th 내용

        each post in posts
            tr
                td= post.date
                td
                    a(href='/posts/'+post.id) #{post.title}
                td
                    form(action='/posts/:postId' method='post')
                        input(type='hidden' name='_method' value='delete')
                        input(type='hidden' name='userId' value=user.id)
                        input(type='submit' value='삭제')
