extends ../layout

block content
    include sidenav

    table
        tr
            th 이름
            td= user.name
        
        tr
            th 주소
            td 안알랴쥼
        
        tr
            th 핸드폰
            td 안알랴쥼
