a(href='/users/' + difUser.nick + '/'): button(type='button') #{difUser.nick}님의 정보
a(href='/users/' + difUser.nick + '/posts'): button(type='button') #{difUser.nick}님의 게시글
a(href='/users/' + difUser.nick + '/comments'): button(type='button') #{difUser.nick}님의 댓글